<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>items</key><array><dict>
<key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>https://github.com/nakagawasanchi/watashi-studio-apps/releases/download/tracingmap-adhoc-61/tracing_map-61.ipa</string></dict></array>
<key>metadata</key><dict><key>bundle-identifier</key><string>com.shotanakagawa.TracingMap</string><key>bundle-version</key><string>1.0.0</string><key>kind</key><string>software</string><key>title</key><string>トレーシングマップ</string></dict>
</dict></array></dict></plist>
